[Unit]
Description=INDI Atik CCD driver
After=indiserver_main.socket
PartOf=indiserver_main.service
BindsTo=dev-atik314e.device
ConditionPathIsSymbolicLink=/dev/atik314e
StopWhenUnneeded=yes

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
Sockets=indiserver_main.socket
StandardOutput=socket
#ExecStart=/bin/echo "start indi_atik_ccd -v -n 'ATIK CCD' -c 'Atik\ 314E\ CCD.xml'"
ExecStart=/bin/echo "start indi_atik_ccd"
ExecStop=/bin/echo "stop indi_atik_ccd"
