[Unit]
Description=INDI Moonlite Focus driver
After=network.target
Requires=indiserver@%i.socket

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
# User=indi
Sockets=indiserver@%i.socket
StandardOutput=socket
ExecStart=/bin/echo "start indi_moonlite_focus"
ExecStop=/bin/echo "stop indi_moonlite_focus"
