[Unit]
Description=INDI Server
After=network.target
Requires=indiserver@%i.socket

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
# User=indi
Sockets=indiserver@%i.socket
#StandardInput=fd:indiserver-fifo@%i.socket
#StandardInput=socket
StandardOutput=journal
StandardError=journal
RestartSec=5
ExecStart=/usr/local/bin/indiserver -v -p %i -f /tmp/indiserver.fifo.%i indi_watchdog indi_astrometry
ExecStartPost=!/sbin/udevadm trigger
