[Unit]
Description=INDI Filterwheel Simulator driver
After=indiserver_main.socket
PartOf=indiserver_main.service
StopWhenUnneeded=yes

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
Sockets=indiserver_main.socket
StandardOutput=socket
ExecStart=/bin/echo "start indi_simulator_wheel"
ExecStop=/bin/echo "stop indi_simulator_wheel"
