[Unit]
Description=INDI Main Server
After=network.target
Wants=indi_moonlite_focus.service indi_atik_ccd.service indi_eqmod_telescope.service indi_simulator_wheel.service indi_v4l2_ccd.service

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
# User=indi
Sockets=indiserver_main.socket
#StandardInput=fd:indiserver-fifo@%i.socket
#StandardInput=socket
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=5s
#ExecStartPre=/usr/bin/mkfifo -m 0600 /tmp/indiserver.fifo.7624
ExecStart=/usr/local/bin/indiserver -l /home/indi/.indi/logs -vv -p 7624 -f /tmp/indiserver.fifo.7624 indi_watchdog indi_astrometry
#ExecStartPost=!/sbin/udevadm trigger
