[Unit]
Description=PHD2 Guiding Engine
After=xorg.target

[Service]
Restart=always
Environment="DISPLAY=:0.0"
StandardOutput=journal
StandardError=journal
ExecStart=/bin/env phd2

[Install]
WantedBy=default.target
