[Unit]
Description=Remote desktop service (VNC)
Requires=display-manager.service
After=network-online.target
After=display-manager.service

[Service]
Type=simple
User=root
Restart=always
RestartSec=2s
StartLimitInterval=5
Environment="DISPLAY=:0"
Environment=HOME=/root
ExecStartPre=/usr/bin/sleep 10
ExecStartPre=-/usr/bin/x0vncserver -kill :0
ExecStartPre=/usr/bin/bash -c "/usr/bin/systemctl set-environment XAUTHORITY=$(find /var/run/sddm/ -type f)"
ExecStart=/usr/bin/x0vncserver -display :0 -rfbport 5900 -rfbauth /home/tallfurryman/.vnc/passwd
#ExecStart=/usr/bin/x0vncserver -display :0 -fg -verbose -SecurityTypes None

[Install]
WantedBy=multi-user.target
