ACTION=="add",    SUBSYSTEM=="tty", ENV{ID_SERIAL_SHORT}=="A904TKQQ", TAG+="systemd", ENV{SYSTEMD_ALIAS}+="/dev/tty.arduino", ENV{SYSTEMD_USER_WANTS}="indi_moonlite_focus.service", SYMLINK+="tty.arduino"

ACTION=="remove", SUBSYSTEM=="tty", ENV{ID_SERIAL_SHORT}=="A904TKQQ"
