SUBSYSTEM=="usb", ACTION=="add", ATTR{idVendor}=="04b4", ATTR{idProduct}=="df2d", TAG+="systemd", ENV{SYSTEMD_ALIAS}="/dev/atik314e", ENV{SYSTEMD_USER_WANTS}="indi_atik_ccd.service", SYMLINK+="atik314e"

SUBSYSTEM=="usb", ACTION=="remove", ENV{ID_MODEL}=="df2d"
