ACTION=="add",    SUBSYSTEM=="tty", ENV{ID_USB_DRIVER}=="pl2303", TAG+="systemd", ENV{SYSTEMD_ALIAS}+="/dev/tty.eqmod", ENV{SYSTEMD_USER_WANTS}+="indi_eqmod_telescope.service", SYMLINK+="tty.eqmod"

ACTION=="remove", SUBSYSTEM=="tty", ENV{ID_USB_DRIVER}=="pl2303", TAG+="systemd", RUN+="/bin/systemctl --no-block stop indi_eqmod_telescope.service"
