[Unit]
Description=INDI Filterwheel Simulator driver
After=network.target
PartOf=indiserver@7624.service
BindsTo=dev-atik314e.device
ConditionPathIsSymbolicLink=/dev/atik314e
StopWhenUnneeded=yes

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
Sockets=indiserver@%i.socket
StandardOutput=socket
ExecStart=/bin/echo "start indi_wheel_simulator"
ExecStop=/bin/echo "stop indi_wheel_simulator"
