[Unit]
Description=INDI MGEN Autoguider driver
After=network.target
Requires=indiserver@%i.socket

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
Sockets=indiserver@%i.socket
StandardOutput=socket
ExecStart=/bin/echo "start indi_mgenautoguider"
ExecStop=/bin/echo "stop indi_mgenautoguider"
