[Unit]
Description=INDI Moonlite Focus driver
After=network.target
PartOf=indiserver@7624.service
BindsTo=dev-tty.arduino.device
ConditionPathIsSymbolicLink=/dev/tty.arduino
StopWhenUnneeded=yes

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
Sockets=indiserver@%i.socket
StandardOutput=socket
ExecStart=/bin/echo "start indi_moonlite_focus"
ExecStop=/bin/echo "stop indi_moonlite_focus"
