[Unit]
Description=INDI EQMOD driver
After=network.target
PartOf=indiserver@7624.service
BindsTo=dev-tty.eqmod.device
ConditionPathIsSymbolicLink=/dev/tty.eqmod
StopWhenUnneeded=yes

[Install]
WantedBy=multi-user.target

[Service]
Type=oneshot
RemainAfterExit=yes
Sockets=indiserver@%i.socket
StandardOutput=socket
ExecStart=/bin/echo "start indi_eqmod_telescope"
ExecStop=/bin/echo "stop indi_eqmod_telescope"
